body {
    background-color: rgb(6, 133, 92);
    color: rgb(240, 240, 240);
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: wheat;
    border-color: red;
    border-style: none;
}

input {
    height: 20px;
}
